.ccms-antd-mini-detail-row {
  display      : flex;
  box-orient   : horizontal;
  box-direction: normal;
  flex-flow    : row wrap;
  position     : relative;

  .detail-col {
    margin-bottom   : 15px;
    // display      : flex;
    flex-direction  : row;
    position        : relative;
    max-width       : 100%;
    min-height      : 1px;
  }

  .detail-group-content {
    flex-direction: row;
    display       : flex;
  }

  .ant-collapse-header-text {
    font-weight: bold;
    font-size  : 16px;
  }

  .detail-col-span {
    // display      : flex;
  }

  .detail-col-width {
    // display      : flex;
  }



  .down-arrow {
    display: none;
  }

  .ccms-antd-mini-detail-group {

    .detail-group-title {
      font-weight  : bold;
      font-size    : 16px;
      margin-bottom: 20px;
      padding      : 16px 0;
      border-bottom: 1px solid #f1f1f1;

      .down-arrow {
        display : inline-block;
        position: relative;
        width   : 27px;
        height  : 17px;
      }

      .down-arrow::after {
        display         : inline-block;
        content         : " ";
        height          : 11px;
        width           : 11px;
        border-width    : 0 1px 1px 0;
        border-color    : #000000;
        border-style    : solid;
        transform       : matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        transform-origin: center;
        position        : absolute;
        top             : 50%;
        right           : 10px;
        margin-top      : -4px;
      }
    }
  }


}