.ccms-antd-table {
  &>.ccms-antd-table-button {
    margin-right: 10px;
  }

  &>.ccms-antd-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &>.ccms-antd-table-left {
      display: flex;
      align-items: center;

      &>.ccms-antd-table-title {
        color: #000000d9;
        font-weight: 500;
        font-size: 16px;
        display: flex;
      }

      &>.ccms-antd-table-title-explain {
        margin-left: 16px;
        font-size: 14px;
        color: #abb7c4;
        margin-top: 2px;
      }
    }

    &>.ccms-antd-table-tableOperation {
      margin-left: 16px;
    }
  }
}
